* {
    background-color: #3b6975;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

.headings {
    background-color: #7c0d0d;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: 800;
}

.head {
    font-size: 48px;
    text-align: center;
}

.subhead {
    font-size: 28px;
    text-align: left;
}

.link {
    list-style-type: none;
}

.recipes {
    font-size: 36px;
    font-stretch: expanded;
    color: #20094b;
}